<!-- Your footer code -->
<div id="footer" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-left">
        <ul class="list-inline">
          <li>
            <% link_to "" do %>
              <i class="fa fa-youtube fa2x"></i>
            <% end %>
          </li>
          <li>
            <% link_to "" do %>
              <i class="fa fa-instagram fa2x"></i>
            <% end %>
          </li>
          <li>
            <% link_to "" do %>
              <i class="fa fa-facebook fa2x"></i>
            <% end %>
          </li>
          <li>
            <% link_to "" do %>
              <i class="fa fa-twitter fa2x"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This is a Airbnb Home challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>
