<ul class="list-inline text-center">
  <% ["caroline", "thiago"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
